<?xml version="1.0" encoding="utf-8"?>
<!-- web.config configuration for IIS Server -->
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
                <clear />
                <add value="index.php" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <!-- Prevent viewing sensitive directories directly -->
        <hiddenSegments>
          <add segment="config" />
          <add segment="database" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
